body {
  background-color: rgb(223, 223, 223);
}

a {
  text-decoration: none;
  color: aliceblue;
}

/* CLASS */
.navigation {
  margin-top: 1.5rem;
  background-color: rgb(163, 212, 212);
  border-radius: 1.5rem;
}

/* ID SELECTORS */
#all-links {
  position: relative;
}

#brand {
  display: inline-block;
  padding-top: 0.3rem;
  margin-left: 0.5rem;
}

#links {
  position: absolute;
  top: -2.5rem;
  right: 7rem;
}

#links a:nth-of-type(2),
#links a:nth-of-type(3) {
  margin-left: 1.5rem;
}

#menu {
  position: absolute;
  top: -2.2rem;
  right: 2rem;
  color: aliceblue;
  display: none;
}

#menu p:active {
  transform: scale(0.98);
}

#menu-links {
  position: absolute;
  display: none;
  background-color: #fff;
  /* padding: 10px; */
  border-radius: 0.7rem;
  width: 7rem;
  text-align: center;
  right: -2.5rem;
}
#menu-links a {
  color: #000;
  padding: 5px;
}

#menu .menu-icon {
  display: none;
}

@media screen and (max-width: 992px) {
  #links {
    position: absolute;
    top: -2.3rem;
    right: 2rem;
  }
}

@media screen and (max-width: 767px) {
  #links {
    display: none;
  }

  #menu {
    display: block;
    top: -1.8rem;
  }
  .navigation {
    margin-top: 0;
    border-radius: 0;
  }

  #menu p {
    display: none;
  }
  #menu .menu-icon {
    display: block;
  }
}
