body {
  background-color: rgb(223, 223, 223);
}

a {
  text-decoration: none;
  color: aliceblue;
}

hr {
  margin-block: 10px;
  border-color: #fff;
}

/* CLASS */
.mobile-navbar {
  display: none;
  /* background-color: rgb(71, 98, 121); */
  background-color: rgb(12, 11, 11);
  position: absolute;
  z-index: 100;
  height: 11rem;
  width: 100%;
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  /* opacity: 0.9; */
  text-align: center;
}

.mobile-navbar .mobile-links {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.mobile-navbar .mobile-links a {
  font-size: 1.5rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  text-shadow: 0 0 8px #fff;
}

.mobile-navbar .mobile-links a:nth-of-type(1) {
  margin-top: 10px;
}

.navigation {
  margin-top: 1.5rem;
  background-color: #000;
  border-radius: 1.5rem;
}

/* ID SELECTORS */
#all-links {
  position: relative;
}

#brand {
  display: inline-block;
  padding-top: 0.3rem;
  margin-left: 0.5rem;
  color: #fff;
  cursor: pointer;
}

#first-img {
  display: inline-block;
  margin-right: 10rem;
}

#links {
  position: absolute;
  top: -2.5rem;
  right: 7rem;
}

#links a:nth-of-type(2),
#links a:nth-of-type(3) {
  margin-left: 1.5rem;
}

#menu {
  position: absolute;
  top: -2.2rem;
  right: 2rem;
  color: aliceblue;
  display: none;
  z-index: 100;
}

#menu p:active {
  transform: scale(0.98);
}

#menu-links {
  position: absolute;
  display: none;
  background-color: #fff;
  /* padding: 10px; */
  border-radius: 0.7rem;
  width: 7rem;
  text-align: center;
  right: -2.5rem;
}
#menu-links a {
  color: #000;
  padding: 5px;
}

#menu .menu-icon {
  display: none;
}

#second-img {
  display: inline-block;
}

@media screen and (max-width: 1399px) {
  .calculator-container h1 #calculator-title-span {
    font-size: 4.7rem;
    right: -0.2rem;
    top: 10rem;
  }
}

@media screen and (max-width: 1199px) {
  .calculator-container h1 #calculator-title-span {
    font-size: 3.5rem;
    right: -0.2rem;
    top: 14rem;
  }
}

@media screen and (max-width: 992px) {
  #first-img,
  #second-img {
    display: block;
    margin-right: 0;
  }
  #links {
    position: absolute;
    top: -2.3rem;
    right: 2rem;
  }
  .calculator {
    position: static;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .calculator-container h1 #calculator-title-span {
    position: static;
    font-size: 3rem;
  }

  .calculator-container h1 {
    position: relative;
    text-align: center;
    margin-bottom: 3rem;
  }

  /* .top {
    height: 110vh;
  } */
}

@media screen and (max-width: 767px) {
  #links {
    display: none;
  }

  #menu {
    display: block;
  }

  /* .dp-block-m-a {
    display: none;
  } */

  .easy-png {
    margin-right: 40px;
  }

  .middle {
    display: block;
    text-align: center;
  }

  .middle h4 {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 575px) {
  #menu {
    top: -2rem;
  }

  #menu-links {
    display: none;
  }

  #menu p {
    display: none;
  }
  #menu .menu-icon {
    display: block;
  }

  .middle {
    display: block;
    text-align: center;
  }

  .middle h4 {
    margin-bottom: 50px;
  }

  .navigation {
    margin-top: 0;
    border-radius: 0;
  }
}
